<div class="info__addExercise" style="display: none;">
    <div class="dbExercise">
        <div class="ExerciseForm">
            <h2 class="info__title">Add Exercise</h2>
            <input type="text" id="searchInput" placeholder="Search for Exercise">
            <button onclick="sortExerciseByName()">Sort by Name</button>
            <ul id="searchList">
                <% exerciseDB.forEach(exerciseDB => { %>
                    <li exerciseId="<%= exerciseDB._id %>" routineId="<%= selectedRoutine._id %>" userId="<%= user._id %>"><%= exerciseDB.exercisename %> (<%= exerciseDB.equipment %>)</li>
                <% }) %>
                <% customExercise.forEach(customExercise => { %>
                        <li class="customExList" customExerciseId="<%= customExercise._id %>" routineId="<%= selectedRoutine._id %>" userId="<%= user._id %>">
                        <%= customExercise.exercisename %> (<%= customExercise.equipment %>) [Custom] 
                        <span onclick="deleteCustomExercise('<%= customExercise._id %>', '<%= user._id %>', '<%= user.username %>', '<%= selectedRoutine._id %>')">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683418 14.0976 1.31658 14.0976 1.70711 13.7071L0.292893 12.2929ZM13.7071 1.70711C14.0976 1.31658 14.0976 0.683418 13.7071 0.292894C13.3166 -0.0976306 12.6834 -0.0976305 12.2929 0.292894L13.7071 1.70711ZM1.70711 0.292893C1.31658 -0.097631 0.683418 -0.0976311 0.292893 0.292893C-0.097631 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L12.2929 13.7071ZM1.70711 13.7071L13.7071 1.70711L12.2929 0.292894L0.292893 12.2929L1.70711 13.7071ZM0.292893 1.70711L12.2929 13.7071L13.7071 12.2929L1.70711 0.292893L0.292893 1.70711Z" fill="#111827"/>
                            </svg>
                        </span>
                        </li>
                    
                    
                    
                <% }) %>
                
            </ul>
        </div>
        <button type="" onclick="showCustomExercise()">Custom Exercise</button>
        
    </div>

    <div class="customExercise" style="display: none">
        <h2 class="info__title">Add Custom Exercise</h2>
        <form action="/addCustomExercise" method="POST" class="customExerciseForm" userId="<%= user._id %>">
            <input type="text" name="exercisename" placeholder="Exercise Name">
            <div class="dropdown">
                <label for="muscle">Muscle:</label>
                <select name="muscle">
                    <option value="chest">Chest</option>
                    <option value="tricep">Tricep</option>
                    <option value="bicep">Bicep</option>
                    <option value="back">Back</option>
                    <option value="shoulder">Shoulder</option>
                    <option value="abs">Abs</option>
                    <option value="hamstring">Hamstring</option>
                    <option value="glute">Glute</option>
                    <option value="calf">Calf</option>
                    <option value="cardio">Cardio</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="dropdown">
                <label for="type">Exercise Type:</label>
                <select id="type" name="type">
                    <option value="reps">Reps</option>
                    <option value="repsOnly">Reps Only (Bodyweight)</option>
                    <option value="repsPlusKg">Reps + Kg (Weighted Bodyweight)</option>
                    <option value="repsMinusKg">Reps - Kg (Assisted Bodyweight)</option>
                    <option value="duration">Duration</option>
                    <option value="distanceDuration">Distance + Duration</option>
                    <option value="kgDistance">Kg + Distance</option>
                </select>
            </div>
            <div class="dropdown">
                <label for="equipment">Equipment:</label>
                <select name="equipment">
                    <option value="none">None</option>
                    <option value="barbell">Barbell</option>
                    <option value="dumbbell">Dumbbell</option>
                    <option value="kettlebell">Kettlebell</option>
                    <option value="machine">Machine</option>
                    <option value="bodyweight">Bodyweight</option>
                    <option value="cable">Cable</option>
                    <option value="medicine ball">Medicine Ball</option>
                    <option value="plate">Plate</option>
                    <option value="suspension">Suspension</option>
                    <option value="bands">Bands</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <button type="submit">Add Custom Exercise</button>
            <input type="hidden" id="userId" name="userId" value="<%= user._id %>">
            <input type="hidden" name="username" value="<%= user.username %>">
        </form>
        <button onclick="showExerciseDB()"> &lt Back</button>
    </div>
        
</div>